/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


 { 
 border: 1px solid black;
}

body{
  width: 800px;
  display: block;
  margin: 0px auto;
}

.top-nav {
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

.top-nav .logo {
  font-size: 18px;
  display: inline-block;
  margin-left: 50px;
  line-height: 25px;
}

.top-nav .user{
  display: inline-block;
  float: right;
  margin-right: 50px;
  line-height: 25px;
}

.top-nav .cart-icon {
  display: inline-block;
  vertical-align: middle;
}

.cart-icon img {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.top-nav .cta-cart {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.viking-wallpaper {
  width: 100%;
  height: 330px;
  border: 1px solid black;
}

.viking-background {
  width: 100%;
  height: 330px;
  position: relative;
}

.viking-background img {
  width: 100%;
  height: 330px;
  display: block;
  margin: 0px auto;
}

.viking-background p {
  font-size: 55px;
  text-align: center;
  height: 250px;
  top: 165px;
  position: absolute;
}

.viking-statement {
  font-size: 25px;
  color: #fff;
  background-color: #25252F;
  text-align: center;
  font-weight: bold;
  height: 40px;
  padding-top: 5px;
  border: 1px solid black;
  width: 100%;
}

.instructions {
  font-style: italic;
  font-size: 16px;
  color: #7D7D7F;
  text-align: center;
  border: 1px solid #7D7D7F;
  width: 100%;
}

.shopping-area {
  border: 1px solid black;
  width: 100%;
}

.shopping-row {
  text-align: center;
}

.item-summary{
  display: inline-block;
  text-align: center;
  margin: 10px 20px;
  width: 200px;
  border: 1px solid black;
}

.item-name {
  background-color: #25252F;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 5px 0;
  height: 25px;
  padding-top: 5px;
  width: 100%;
}

.item-summary .item-image{
  width: 100%;
  height: 130px;
  background-color: gray;
}

.item-image img{
  width: 100%;
  height: 100%;
}

.cta-addcart {
  font-size: 10px;
  padding: 5px 0px;
  background-color: #25252F;
  height: 25px;
}
.cta-addcart-style {
  background-color: #FFBF5F;
  padding-top: 
}

.pagination {
  color: blue;
  text-decoration: underline;
  text-align: center;
}

.pagination .2 {
  color: black;
  text-decoration: none;
}

.bottom-nav {
  background-color: #25252F;
  height: 100px;
  border: 1px solid black;
  width: 100%;
}

.contact-logo {
  text-align: center;
  color: #E6782E;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
} 

.number {
  text-align: center;
  margin: 5px 0px;
}

.number-icon {
  display: inline-block;
  vertical-align: middle;
}

.number-icon img{
  width: 18px;
  height: 15px;
}

.phone-number{
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

.email {
  text-align: center;
  margin: 5px 0px;
}

.email-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}

.email-icon img{
  width: 18x;
  height: 15px;
}

.email-address{
  display: inline-block;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}