/*add resets later w/ connection*/

 {
  border: 1px dashed black;
}

.top-nav {
  border-bottom: 1px solid black;
  height: 30px;
}

.top-nav .logo {
  font-size: 18px;
  display: inline-block;
  margin-left: 50px;
  line-height: 25px;
}

.top-nav .user{
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.top-nav .cart-icon {
  display: inline-block;
  vertical-align: middle;
}

.top-nav .cta-cart {
  display: inline-block;
  vertical-align: middle;
}

.viking-wallpaper {
  width: 100%;
  height: 250px;
  background-color: #BCBCCA;
  border: 1px solid black;
}

.viking-background {
  width: 100%;
  height: 100%;
}

.viking-background h1 {
  font-size: 55px;
  text-align: center;
  height: 250px;
  line-height: 180px;
}

.viking-statement {
  font-size: 25px;
  color: #fff;
  background-color: #25252F;
  text-align: center;
  font-weight: bold;
  height: 40px;
  padding-top: 5px;
  border: 1px solid black;
  width: 100%;
}

.instructions {
  font-style: italic;
  font-size: 16px;
  color: #7D7D7F;
  text-align: center;
  border: 1px solid #7D7D7F;
  width: 100%;
}

.shopping-area {
  border: 1px solid black;
}

.shopping-row {
  text-align: center;
}

.item-summary{
  display: inline-block;
  text-align: center;
  margin: 10px 20px;
  width: 200px;
}

.item-name {
  background-color: #25252F;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 5px 0;
  height: 25px;
  padding-top: 5px;
  width: 100%;
}

.item-summary .item-image{
  width: 100%;
  height: 110px;
  background-color: gray;
}

.item-image img{
  width: 100%;
  height: 100%;
}

.cta-addcart {
  padding: 5px 0px;
  background-color: #25252F;
  height: 25px;
}
.cta-addcart-style {
  background-color: #FFBF5F;
  padding-top: 
}

.pagination {
  color: blue;
  text-decoration: underline;
  text-align: center;
}

.pagination .2 {
  color: black;
  text-decoration: none;
}